<IfModule mod_rewrite.c>
RewriteEngine on
ErrorDocument 404 http://localhost/infinitycinema/error/

RewriteCond %{REQUEST_URI} !.(?:css|js|jpe?g|gif|png|svg|mp4)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2

RewriteRule ^(.*)/(.*)/(.*) index.php?controller=$1&action=$2&pagina=$3
</IfModule>