.factura-container {
    padding: 8em;
}

.factura {
    border-radius: 5px;
    background-color: var(--color-white-text);
    color: var(--color-black-primary-80);
    padding: 4em;
}

.factura__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-bottom: 1em;
}

.factura__logo-icon {
    width: 40px;
}

.factura__productos {
    margin: 3em 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.factura__table {
    width: 100%;
    padding: .5em;
    /* border: 1px solid var(--color-red-accent); */
}

.factura-table__total {
    color: var(--color-green-text);
    font-size: 18px;
}

.factura__logo-nombre{
    font-size: var(--font-size-big-30);

}

.factura__n-factura {
    margin-bottom: .5em;
}

.factura__usuario {
    color:  var(--color-black-primary-80);
}

.factura__fecha {
    color:  var(--color-black-primary-80);
}

.factura__link{
    margin: 2em 0;
    float: right;
    color: var(--color-white-text);
    font-size: var(--font-size-big-20);
    
}